@charset "UTF-8";


body{
    background: linear-gradient(175deg, #e9cdfc, #e4beff);
    font-family: "Raleway", sans-serif;
    margin: 0 5%;
    color: #7c5295;
    font-size: 17px;
}

header {
  margin-top: 0;
  padding: 1em 1em 2em 1em;
  text-align: center;
  text-shadow: .05em .05em .05em gray;
  
}

h2{
    color: #7c5295;
    text-shadow: .05em .05em .05em gray;
}

h3{
    color: #7c5295;
}

span{
     font-family: "DM Serif Display", serif;
     color:  #3c1361;
     border-bottom: 1px solid  #3c1361;
     font-size: 3em; 
}

.centered-list {
    text-align: center;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
    color: darkorchid;
}

a:visited {
    color: #b061c1;
}

a:focus, a:hover {
    color: #c700f2;
    
}

a {
    text-decoration: none;
  }

.Software { 
    align-items: center;
    margin-left: 45%;

}

footer {
    border-top: 1.5px solid darkorchid;
}


.roman {
    list-style-type: upper-roman;
    display: inline-block;
    text-align: left;
    font-size: 20px;

}